.NewList{
  padding-top: 81px;
  position: relative;
  .new_tit{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    background:url('../../img//newlist.jpg') no-repeat center center;
    background-size: cover;
    height: 100px;
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .new_list_nav{
    background-color: #ddd;
    padding: 0;
    margin: 0;
    height: 28px;
    line-height: 30px;
    position: fixed;
    top: 181px;
    left: 0;
    right: 0;
    z-index: 100;
    li{
      list-style: none;
      width: 25%;
      display: inline-block;
      text-align: center;
      a{
        display: inline-block;
        width: 100%;
      }
    }
  }
  .Huayu{
    margin-top: 20px;
    padding: 0 20px;
    padding-top: 125px;
    p{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      span{
        font-size: 18px;
      }
    }
    .list_item{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      h4{
        font-size: 18px;
        margin: 0;
      }
    }
  }
  .ant-carousel .slick-slide img {
    width: 100%;
  }
}