.Hearder-top{
  padding:10px;
  background-color:#F4E3E9;
  position: fixed;
  width: 100%;
  box-sizing:border-box;
  text-align: left;
  z-index: 100;
  .logo{
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    span{
      display: inline-block;
      margin-left: 10px;
    }
  }
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      display: inline-block;
      width: 25%;
      text-align: center;
      border-right: 1px solid #ddd;
      &:last-child{
        border-right: none;
      }
    }
  }
}
