.Search{
  padding: 84px 20px 0 20px;
  .sea{
    img{
      width: 100%;
    }
  }
  .classfiy{
    .classfiy_tit{
      line-height: 28px;
      margin-top: 10px;
    }
    .classfiy_cont{
      .pic{
        width: 33.33%;
        display: inline-block;
        text-align: center;
        position: relative;
        margin: 5px 0;
        img{
          width: 90%;
        }
        p{
          position: absolute;
          bottom: 5px;
          left: 0;
          right: 0;
          margin: 0;
          color: #fff;
        }
      }
    }
  }
}